
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="~/home/index" class="brand-link">
        <img src="~/img/Logo.png" alt="Health&Med" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Health&Med</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
                @*Perfil*@
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Perfil
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Perfil/ChangePassword" class="nav-link active">
                                <i class="far fa-user nav-icon"></i>
                                <p>Alterar a Senha</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @*Consulta*@
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-stethoscope"></i>
                        <p>
                            Consulta
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/exame/solicitacao" class="nav-link active">
                                <i class="fas fa-share-square nav-icon"></i>
                                <p>Meus Agendamentos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/exame/agendamento" class="nav-link active">
                                <i class="fas fa-hospital-user nav-icon"></i>
                                <p>Novo Agendamento</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @*Administração*@

                @if (User.IsInRole("Administrador") || User.IsInRole("Medico"))
                {

                    <li class="nav-item has-treeview menu-open">
                        <a href="" class="nav-link active">
                            <i class="nav-icon fas fa-hammer"></i>
                            <p>
                                Gerenciar
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview">
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a href="/Administracao/GerenciarUsuarios" class="nav-link active">
                                        <i class="nav-icon fas fa-users"></i>
                                        <p>Gerenciar Usuários</p>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Medico"))
                            {
                                <li class="nav-item">
                                    <a href="/Administracao/DefinirAgenda" class="nav-link active">
                                        <i class="fas fa-check nav-icon"></i>
                                        <p>Aprovar Agendamento</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Administracao/DefinirAgenda" class="nav-link active">
                                        <i class="fas fa-calendar nav-icon"></i>
                                        <p>Definir Agenda</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                }
                <div class="ms-auto p-3">
                    <form action="@Url.Action("Logout", "Autenticacao")" method="post">
                        <button type="submit" class="btn btn-danger w-100">
                            Sair
                        </button>
                    </form>
                </div>
            </ul>
        </nav>
    </div>
</aside>