@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Ocorreu um erro!</h1>
    <p class="lead">Desculpe, algo deu errado. Por favor, tente novamente mais tarde.</p>
    <p>Se o problema persistir, entre em contato com o suporte.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Voltar para a página inicial</a>
</div>
